@import "tailwindcss";
.wrapper {
  position: relative;
}
.tooltip {
  opacity: 0;
  clip-path: inset(0 100% 0 0);
  transition: clip-path 0.1s ease-out, opacity 0.1s ease-out;
}

.wrapper:focus-within .tooltip {
  opacity: 1;
  clip-path: inset(0 0 0 0);
}
